asgiref
certifi
charset-normalizer
django-cors-headers
django-environ
django-filter
django
djangorestframework-simplejwt
djangorestframework
gunicorn
idna
pillow
pyjwt
pytz
requests
setuptools
sqlparse
tzdata
urllib3
